@charset "UTF-8";

/* style sheet for mobile view port */

body {
    min-width: 400px;
    height: 100%;
}

#wrapper {
    margin: auto;
}

header {
    text-align: center;
}

#banner a {
    padding: 12px 11px;
    border-radius: 8px;
}

#content-body {
    min-height: 600px;
    height: fit-content;
}

.box-holder {
    width: auto;
}

.about-me {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 400px;
}