/* style sheet for desktop view port */

@charset "UTF-8";

body {
    min-width: 600px;
    margin: auto;
    color: #e8e6e3;
    background: linear-gradient(to bottom, #023059 77%, #A61B34 80%);
    font-family: sans-serif, Arial, Helvetica;
}

/* wrapper class style */
#wrapper {
    margin: auto 60px;
}

/* header style */
#banner {
    display: inline-flex;
    line-height: 22px;
}

#banner a {
    color: #96B9D9;
    text-align: center;
    padding: 12px 21px;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
}

#banner a:hover {
    background: #1B578C;
    color: #C1D2D9;
}


#banner a.active {
    background: #A61B34;
    color: #C1D2D9;
}

#banner a.portrait {
    padding: 8px 21px;
    height: 30px;
}

#banner a.portrait img {
    border-radius: 28px;
    width: 30px;
}

/* article body style */
#content-body {
    background-color: #1B578C;
    display:block;
    min-height: 800px;
    border-radius: 16px;
    text-align: center;
}

/* about me paragraph style */
.about-me {
    padding-right: 10%;
    padding-left: 10%;
}

/* Contact form style */
#contact-form {
    text-align: center;
}

#contact-form input,
#contact-form textarea {
    width: 60%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 10px;
    border: 1px solid #C1D2D9;
    background-color: #96B9D9;
    color: #023059;
    border-radius: 6px;
    resize: vertical;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #023059;
    opacity: 1;
    font-size: small;
    font-family: sans-serif, Arial, Helvetica;
    font-weight: 700;
}

#contact-form input[type=submit] {
    width: 60%;
    background-color: #A61B34;
    color: white;
    border: none;
    cursor: pointer;
}

/* footer style */
#footer {
    display: inline-block;
    bottom: 0%;
    color: #C1D2D9;
}

#footer aside {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}