/* style sheet for desktop view port */

@charset "UTF-8";

body {
    min-width: 600px;
    margin: auto;
    background: linear-gradient(to bottom, #023059 77%, #A61B34 80%);
    font-family: sans-serif, Arial, Helvetica;
}

/* wrapper class style */
#wrapper {
    margin: auto 60px;
    /* background-color: #1B578C; */
}

/* header style */
#banner {
    background-color: #023059;
}

#banner a {
    display: inline-block;
    color: #96B9D9;
    text-align: center;
    padding: 18px 18px;
    margin: auto;
    text-decoration: none;
}

#banner a.active {
    background: #A61B34;
    color: #C1D2D9;
    border-radius: 6px;
}

#banner a img {
    /* display: inline-block; */
    border-radius: 28px;
    margin: auto 10px;

}

#content-body {
    background-color: #1B578C;
    display:block;
    min-height: 800px;
    border-radius: 16px;
}

/* Contact form style */
#contact-form input,
#contact-form textarea {
    width: 60%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #C1D2D9;
    background-color: #96B9D9;
    color: #023059;
    border-radius: 6px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #d8dde0;
    opacity: 1;
    font-family: sans-serif, Arial, Helvetica
}

#contact-form input[type=submit] {
    width: 60%;
    background-color: #A61B34;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* default margin for paragraph */
h1,
h2,
h3,
p {
    margin-left: 15px;
}

#footer {
    display: inline-block;
    /* position: absolute; */
    bottom: 0%;
}

#footer {
    color: #C1D2D9;
}

#footer aside {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}